.sidebar-container {
    position: fixed;
    left: 20px;
    top: 5vh;
    height: 90vh;
    width: 400px;
    background-color: #FFF;
    z-index: 10;
    border-radius: 20px;

    p {
        font-size: 50px;
    }
}